body{
    padding: 0;
    margin: 0;
}
header {
    background-color:gray;
    display: flex;
    flex-direction: column;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100; 
    text-align: center;
  }

h1 {
    text-align: center;
    font-size: 60px;
    color:azure;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    display: block;
    margin: 0 auto; 
    width: 400px;
    height: 400px;
}


nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    background-color: #333; 
  }
  
  
  nav ul li a {
    display: block; 
    padding: 15px 20px;
    text-decoration: none; 
    color: #fff; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
  }
  
 
  nav ul li a:hover {
    background-color: #555;
  }